<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="ArtifactsForGitHubWorkflows" value="https://pkgs.dev.azure.com/amplify-artifact-org/ArtifactsProjectStore/_packaging/ArtifactsForGitHubWorkflows/nuget/v3/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<ArtifactsForGitHubWorkflows>
			<add key="Username" value="kiyer@amppf.com" />
			<add key="ClearTextPassword" value="7x2hXZ3OcnspWRL7xeTujaUjcEJih2khyNNzfAipmkdyLWHF7JygJQQJ99BEACAAAAAQGcTfAAASAZDO3Guq" />
		</ArtifactsForGitHubWorkflows>
	</packageSourceCredentials>
</configuration>
